html, body
{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.container-fluid
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navbar-brand
{
    font-size: 1.5rem;
    padding-left: 2%;
}

.nav-item
{
    margin: 0;
    padding: 10px;
}

#home-1
{
    height: 75%;
    background-color: #e4f9f5;
}

.btn
{
    padding: 2%;
}

#home-2
{
    margin: 0;
    height: 65%;
    width: 100%;
    padding: 5%;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding: 10% 0 2% 0;
}

h2
{
    font-size: 1.5rem;
    padding: 3% 0 1% 0;
}

h3
{
    font-size: 1.3rem;
    padding: 3% 0 1.5% 0;
}

.new-icon
{
    height: 40%;
    width: 40%;
    padding: 5%;
    color: teal;
}

#featured
{
    margin: 0;
    height: 45%;
    margin-bottom: 5%;
    background-color: #82e6e8;
}

.featured-icon
{
    height: 100%;
    width: 20%;
    padding-bottom: 10%;
    text-align: center;
}

#pricing
{
    height: 100%;
    width: 100%;
    padding: 5% 10% 10% 10%;
}

#contact-us
{
    padding-top: 3%;
    height: 34%;
    padding-bottom: 3%;
    background-color: #30e3ca;
}

#footer
{
    padding: 2.5% 0 2.5% 0;
    height: 10%;
    background-color: #e4f9f5;
}

.social-icon
{
    height: 100%;
    width: 10%;
    padding: 1%;
}

.col-lg-3.col-md-6.col-sm-12.card-col
{
    padding: 1%;
}

@media (max-width: 500px)
{
    .btn.btn-dark.home-button
    {
        margin: 2.5%;
    }

    .btn.btn-outline-dark.btn.home-button
    {
        margin: 2.5%;
    }

    #featured
    {
        height: 200px;
    }
}