html, body
{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.nav-item
{
    margin: 0;
    border-right: solid;
    border-right-width: 3px;
    border-right-color: #e4f9f5;
}

#home-1
{
    margin: 0;
    height: 65%;
    padding: 5% 0 5% 0;
    background-color: #e4f9f5;
}

p
{
    margin: 0;
    padding: 2%;
}

#home-2
{
    margin: 0;
    height: 65%;
    padding: 5% 0 5% 0;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 10% 0 0 0;
}

h2
{
    font-size: 1.5rem;
    padding: 3% 0 1% 0;
}

h3
{
    font-size: 1.3rem;
    padding: 3% 0 1.5% 0;
}

#featured
{
    margin: 0;
    height: 40%;
    margin-top: 5%;
    padding-bottom: 5%;
    background-color: #82e6e8;
}

.featured-icon
{
    height: 175px;
    width: 175px;
}

#pricing
{
    margin-top: 5%;
    height: 15%;
    padding-bottom: 5%;
}

#contact-us
{
    margin-top: 5%;
    height: 35%;
    padding-bottom: 5%;
    background-color: #30e3ca;
}

#footer
{
    padding: 2.5% 0 2.5% 0;
    height: 10%;
    background-color: #e4f9f5;
}